📧Organizador de Publicaciones post+story+carousel.json
{
  "name": "📧Organizador de Publicaciones post+story+carousel",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        6624,
        2048
      ],
      "id": "f18a64e4-b467-4c24-a296-4d10e4aa2d3b",
      "name": "OpenAI Embeddings",
      "credentials": {
        "openAiApi": {
          "id": "6oB1WcrnL1nJ1HjL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        5216,
        3200
      ],
      "id": "dce5de1f-72df-4018-a624-d5c28aa9d404",
      "name": "OpenAI Embeddings2",
      "credentials": {
        "openAiApi": {
          "id": "6oB1WcrnL1nJ1HjL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🟣 PHASE 1 — TRIGGER\nSchedule every 3 days at 12PM (Jimmy Values)\nor trigger manually for testing. wE establish a cronogrmama to ppublish content\n",
        "height": 104,
        "width": 736,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7680,
        3968
      ],
      "id": "5f19d7a7-73db-469c-966b-b0d8175db340",
      "name": "Note Phase "
    },
    {
      "parameters": {
        "content": "## 🟠 PHASE 3 — CANVA TEMPLATE\nUses Canva API to populate your branded\ntemplate with Title + Description.\nReturns a preview image URL\n\nNEW VERSION MARCH 14 ADDING CAROUSEL",
        "height": 184,
        "width": 1008,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        9056,
        3840
      ],
      "id": "8c756083-08ed-4333-8d2d-0a1632b56277",
      "name": "Note Phase 5"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.format }}",
                    "rightValue": "post",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "912387cd-9362-4299-a8d3-aa24453b0a9d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cae00f07-642c-40cd-bf9a-bc72b04c44c9",
                    "leftValue": "={{ $json.format }}",
                    "rightValue": "=stories",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7ba0e64c-3d4d-4c35-bda5-74834047edf9",
                    "leftValue": "={{ $json.format }}",
                    "rightValue": "carousel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        8832,
        4144
      ],
      "id": "a86f1f77-283c-4482-8978-404afb1e32e7",
      "name": "Switch1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n \"facebook\": \"697aafb377637c5c857cb630\",\n \"facebook_page_id\": \"61585073977460\",\n \"instagram\": \"69c342716cb7b8cf4c9861e8\",\n \"linkedin\": \"697ab30077637c5c857cb6a1\"\n}\n\n\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        11152,
        4256
      ],
      "id": "c596cd86-b05b-410a-82c9-bf94b1ba7844",
      "name": "ID Get Late Accounts"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://getlate.dev/api/v1/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk_6ad5301178c80ae417ca7764dbf2c8ecc48a56ee7408a0b7e171969496c94cf2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ $('Pick By Date').item.json.Description }}{{ $('Pick By Date').item.json.Hashtags }}\",\n  \"mediaItems\": [\n    { \"url\": \"{{ $json.image_url }}\", \"type\": \"{{ $('Detect Format').item.json.getlate_media_type }}\" }\n  ],\n  \"platforms\": [\n    {\n      \"platform\": \"instagram\",\n      \"accountId\": \"{{ $('ID Get Late Accounts').item.json.instagram }}\",\n      \"platformSpecificData\": {\n        \"contentType\": \"story\"\n      }\n    }\n  ],\n  \"publishNow\": true\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        11888,
        4496
      ],
      "id": "977eef53-557c-4ec7-ba03-c89f1b32e26e",
      "name": "📸 Stories to Instagram (Getlate)1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=17_rxFnm7wLOgHGqvMmYaQm2HAqwFUiDAUji8q5cg3Bk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_rxFnm7wLOgHGqvMmYaQm2HAqwFUiDAUji8q5cg3Bk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "published",
            "Design_ID": "={{ $('Pick By Date').item.json.Design_ID }}"
          },
          "matchingColumns": [
            "Design_ID"
          ],
          "schema": [
            {
              "id": "template_n",
              "displayName": "template_n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Design_ID",
              "displayName": "Design_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Format",
              "displayName": "Format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Day-week",
              "displayName": "Day-week",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hashtags",
              "displayName": "Hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_url_2",
              "displayName": "image_url_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_url_3",
              "displayName": "image_url_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_url_4",
              "displayName": "image_url_4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        12576,
        4496
      ],
      "id": "d8fdc9b1-9a10-4395-a62b-5d7190220c19",
      "name": "✅Mark as Published1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZVkYY5blo2ajMfxn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const designInfo = $('Get Canva Design Info').item.json.design;\nconst pagesInfo = $('Get Canva Pages Info').item.json.items || [];\n\n// 1. CONTEO REAL DE PÁGINAS\nconst pageCount = pagesInfo.length || designInfo.page_count || 1;\n\n// 2. DETECCIÓN DE VIDEO (MP4)\n// En Canva, si el diseño tiene una duración global o si el thumbnail es de un video,\n// o si el usuario lo exporta como video. \n// Como no tenemos el export-metadata aún, usamos una técnica infalible:\n// Si el diseño es vertical (Story) y tiene CUALQUIER elemento animado, \n// Canva lo trata como video. \n// Vamos a usar el ratio de la PRIMERA PÁGINA real, no del thumbnail.\nconst firstPage = pagesInfo[0] || {};\nconst width = firstPage.dimensions?.width || designInfo.thumbnail?.width || 1080;\nconst height = firstPage.dimensions?.height || designInfo.thumbnail?.height || 1920;\nconst ratio = width / height;\n\nlet format;\nlet media_type = 'image'; // default\nlet detection_method;\n\nif (ratio < 0.65) {\n  // FORMATO VERTICAL (Story / Reel)\n  format = 'stories';\n  detection_method = 'aspect_ratio_vertical';\n  \n  // REGLA DE ORO PARA STORIES: \n  // Si es vertical, casi siempre el usuario querrá exportarlo como video si hay animaciones.\n  // Para forzar MP4 en GetLate cuando es Story, marcamos media_type como video\n  // si tiene más de 1 página o si el título sugiere video.\n  const title = (designInfo.title || '').toLowerCase();\n  const isVideoTitle = title.includes('video') || title.includes('mp4') || title.includes('reel') || title.includes('animado');\n  \n  if (pageCount > 1 || isVideoTitle) {\n    media_type = 'video';\n  } else {\n    // Si es 1 sola página vertical, pero el usuario dice que es video...\n    // En Canva, un video de 1 sola página se diferencia porque tiene una duración.\n    // Por ahora, si es Story, permitiremos que el usuario fuerce video con el título\n    // o simplemente lo trataremos como video si detectamos que es una Story animada.\n    media_type = isVideoTitle ? 'video' : 'image';\n  }\n} else if (pageCount > 1) {\n  // FORMATO NO VERTICAL + MULTIPÁGINA = CAROUSEL\n  format = 'carousel';\n  media_type = 'image';\n  detection_method = 'page_count_multipane';\n} else {\n  // FORMATO CUADRADO/HORIZONTAL + 1 PÁGINA = POST\n  format = 'post';\n  media_type = 'image';\n  detection_method = 'aspect_ratio_square';\n}\n\nreturn [{ json: {\n  Design_ID: designInfo.id,\n  format: format,\n  media_type: media_type,\n  ratio: ratio,\n  pages: pageCount,\n  title: designInfo.title,\n  detection_method: detection_method,\n  getlate_media_type: media_type === 'video' ? 'video' : 'image',\n  // Datos técnicos para depuración\n  _tech: {\n    real_width: width,\n    real_height: height,\n    real_pages: pageCount\n  }\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8592,
        4160
      ],
      "id": "6eb15f43-10d0-4b20-aac8-1f87faa4344f",
      "name": "Detect Format"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://getlate.dev/api/v1/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk_d1f53761563f3327c0981b19ea499e6426c4ada2865f28f41f4321751654fef1"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ $('Pick By Date').item.json.Description }}{{ $('Pick By Date').item.json.Hashtags }}\",\n  \"mediaItems\": [\n    { \"url\": \"{{ $json.image_url }}\", \"type\": \"{{ $('Detect Format').item.json.getlate_media_type }}\" }\n  ],\n  \"platforms\": [\n    {\n      \"platform\": \"instagram\",\n      \"accountId\": \"{{ $('ID Get Late Accounts').item.json.instagram }}\",\n      \"platformSpecificData\": {\n        \"contentType\": \"story\"\n      }\n    }\n  ],\n  \"publishNow\": true\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        11888,
        4240
      ],
      "id": "68ae527a-c8b1-4b4a-98ff-8b6af0982893",
      "name": "📸 Post to Instagram (Getlate)"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=17_rxFnm7wLOgHGqvMmYaQm2HAqwFUiDAUji8q5cg3Bk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_rxFnm7wLOgHGqvMmYaQm2HAqwFUiDAUji8q5cg3Bk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "published",
            "Design_ID": "={{ $('Pick By Date').item.json.Design_ID }}"
          },
          "matchingColumns": [
            "Design_ID"
          ],
          "schema": [
            {
              "id": "template_n",
              "displayName": "template_n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Design_ID",
              "displayName": "Design_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Format",
              "displayName": "Format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Day-week",
              "displayName": "Day-week",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hashtags",
              "displayName": "Hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image_url",
              "displayName": "Image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        12512,
        4112
      ],
      "id": "51b9c740-9599-4225-8e23-351da5c97fef",
      "name": "✅Mark as Published",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZVkYY5blo2ajMfxn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=17_rxFnm7wLOgHGqvMmYaQm2HAqwFUiDAUji8q5cg3Bk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_rxFnm7wLOgHGqvMmYaQm2HAqwFUiDAUji8q5cg3Bk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "published",
            "Design_ID": "={{ $('Pick By Date').item.json.Design_ID }}"
          },
          "matchingColumns": [
            "Design_ID"
          ],
          "schema": [
            {
              "id": "template_n",
              "displayName": "template_n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Design_ID",
              "displayName": "Design_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Format",
              "displayName": "Format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Day-week",
              "displayName": "Day-week",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hashtags",
              "displayName": "Hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image_url",
              "displayName": "Image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        12576,
        4688
      ],
      "id": "166be92f-5a74-4edb-a74b-3328a969ac22",
      "name": "✅Mark as Published2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZVkYY5blo2ajMfxn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "otunservices@gmail.com, phoenixtec0@gmail.com",
        "subject": "✅ STORIES PUBLICADO — Genius Astra | {{ $json.design_ID }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 24px; background-color: #f9f9f9; border-radius: 12px;\">\n  \n  <!-- HEADER -->\n  <div style=\"background-color: #0d0d0d; padding: 20px; border-radius: 10px 10px 0 0; text-align: center;\">\n    <h1 style=\"color: #ffffff; margin: 0; font-size: 20px;\">🤖 Genius Astra Automation Engine</h1>\n    <p style=\"color: #aaaaaa; margin: 6px 0 0; font-size: 13px;\">Sistema de Publicación Instagram</p>\n  </div>\n\n  <!-- STATUS BADGE -->\n  <div style=\"background-color: #28a745; padding: 14px 20px; text-align: center;\">\n    <h2 style=\"color: #ffffff; margin: 0; font-size: 18px;\">✅ Publicación Exitosa</h2>\n  </div>\n\n  <!-- BODY -->\n  <div style=\"background-color: #ffffff; padding: 24px; border-radius: 0 0 10px 10px;\">\n    \n    <!-- META INFO -->\n    <table style=\"width: 100%; border-collapse: collapse; margin-bottom: 20px;\">\n      <tr>\n        <td style=\"padding: 8px 0; color: #666; font-size: 13px; width: 40%;\">📌 Template N°</td>\n        <td style=\"padding: 8px 0; font-weight: bold; font-size: 13px;\">{{ $json.template_n }}</td>\n      </tr>\n      <tr style=\"background-color: #f5f5f5;\">\n        <td style=\"padding: 8px 6px; color: #666; font-size: 13px;\">🆔 Design ID</td>\n        <td style=\"padding: 8px 6px; font-weight: bold; font-size: 13px; word-break: break-all;\">{{ $json.design_ID }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 8px 0; color: #666; font-size: 13px;\">📐 Formato</td>\n        <td style=\"padding: 8px 0; font-weight: bold; font-size: 13px; text-transform: capitalize;\">{{ $json.format }}</td>\n      </tr>\n      <tr style=\"background-color: #f5f5f5;\">\n        <td style=\"padding: 8px 6px; color: #666; font-size: 13px;\">📅 Día</td>\n        <td style=\"padding: 8px 6px; font-weight: bold; font-size: 13px;\">{{ $now.toFormat('EEEE dd MMMM yyyy') }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 8px 0; color: #666; font-size: 13px;\">🕐 Hora</td>\n        <td style=\"padding: 8px 0; font-weight: bold; font-size: 13px;\">{{ $now.toFormat('hh:mm a') }} EST</td>\n      </tr>\n    </table>\n\n    <!-- CAPTION PREVIEW -->\n    <div style=\"background-color: #f0f4ff; border-left: 4px solid #4a6cf7; padding: 12px 16px; border-radius: 6px; margin-bottom: 20px;\">\n      <p style=\"margin: 0 0 6px; color: #4a6cf7; font-size: 12px; font-weight: bold;\">📝 CAPTION PUBLICADO</p>\n      <p style=\"margin: 0; color: #333; font-size: 13px; line-height: 1.6;\">{{ $json.description }}</p>\n    </div>\n\n    <!-- IMAGE PREVIEW -->\n    <p style=\"color: #666; font-size: 12px; margin: 0 0 8px; font-weight: bold;\">🖼️ IMAGEN EXPORTADA</p>\n    <img src=\"{{ $json.image_url }}\" \n         width=\"100%\" \n         style=\"border-radius: 10px; border: 1px solid #e0e0e0; display: block;\"/>\n\n    <!-- FOOTER -->\n    <div style=\"margin-top: 24px; padding-top: 16px; border-top: 1px solid #eee; text-align: center;\">\n      <p style=\"color: #999; font-size: 12px; margin: 0;\">Publicado automáticamente por</p>\n      <p style=\"color: #0d0d0d; font-size: 14px; font-weight: bold; margin: 4px 0 0;\">Genius Astra Automation Engine 🤖</p>\n      <a href=\"https://geniusastra.com\" style=\"color: #4a6cf7; font-size: 12px;\">geniusastra.com</a>\n    </div>\n\n  </div>\n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        12368,
        4496
      ],
      "id": "929eaa55-772b-404e-a8dd-d7008f279630",
      "name": "📧 Gmail — Confirm Stories",
      "webhookId": "1fdd6583-0976-41e4-b94f-49e0864e9d9c",
      "credentials": {
        "gmailOAuth2": {
          "id": "rGsdLu9a3bbdpBQ9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "otunservices@gmail.com, phoenixtec0@gmail.com",
        "subject": "=✅ POST PUBLICADO — Genius Astra |  {{ $json.design_ID }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 24px; background-color: #f9f9f9; border-radius: 12px;\">\n  \n  <!-- HEADER -->\n  <div style=\"background-color: #0d0d0d; padding: 20px; border-radius: 10px 10px 0 0; text-align: center;\">\n    <h1 style=\"color: #ffffff; margin: 0; font-size: 20px;\">🤖 Genius Astra Automation Engine</h1>\n    <p style=\"color: #aaaaaa; margin: 6px 0 0; font-size: 13px;\">Sistema de Publicación Instagram</p>\n  </div>\n\n  <!-- STATUS BADGE -->\n  <div style=\"background-color: #28a745; padding: 14px 20px; text-align: center;\">\n    <h2 style=\"color: #ffffff; margin: 0; font-size: 18px;\">✅ Publicación Exitosa</h2>\n  </div>\n\n  <!-- BODY -->\n  <div style=\"background-color: #ffffff; padding: 24px; border-radius: 0 0 10px 10px;\">\n    \n    <!-- META INFO -->\n    <table style=\"width: 100%; border-collapse: collapse; margin-bottom: 20px;\">\n      <tr>\n        <td style=\"padding: 8px 0; color: #666; font-size: 13px; width: 40%;\">📌 Template N°</td>\n        <td style=\"padding: 8px 0; font-weight: bold; font-size: 13px;\">{{ $json.template_n }}</td>\n      </tr>\n      <tr style=\"background-color: #f5f5f5;\">\n        <td style=\"padding: 8px 6px; color: #666; font-size: 13px;\">🆔 Design ID</td>\n        <td style=\"padding: 8px 6px; font-weight: bold; font-size: 13px; word-break: break-all;\">{{ $json.design_ID }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 8px 0; color: #666; font-size: 13px;\">📐 Formato</td>\n        <td style=\"padding: 8px 0; font-weight: bold; font-size: 13px; text-transform: capitalize;\">{{ $json.format }}</td>\n      </tr>\n      <tr style=\"background-color: #f5f5f5;\">\n        <td style=\"padding: 8px 6px; color: #666; font-size: 13px;\">📅 Día</td>\n        <td style=\"padding: 8px 6px; font-weight: bold; font-size: 13px;\">{{ $now.toFormat('EEEE dd MMMM yyyy') }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 8px 0; color: #666; font-size: 13px;\">🕐 Hora</td>\n        <td style=\"padding: 8px 0; font-weight: bold; font-size: 13px;\">{{ $now.toFormat('hh:mm a') }} EST</td>\n      </tr>\n    </table>\n\n    <!-- CAPTION PREVIEW -->\n    <div style=\"background-color: #f0f4ff; border-left: 4px solid #4a6cf7; padding: 12px 16px; border-radius: 6px; margin-bottom: 20px;\">\n      <p style=\"margin: 0 0 6px; color: #4a6cf7; font-size: 12px; font-weight: bold;\">📝 CAPTION PUBLICADO</p>\n      <p style=\"margin: 0; color: #333; font-size: 13px; line-height: 1.6;\">{{ $json.description }}</p>\n    </div>\n\n    <!-- IMAGE PREVIEW -->\n    <p style=\"color: #666; font-size: 12px; margin: 0 0 8px; font-weight: bold;\">🖼️ IMAGEN EXPORTADA</p>\n    <img src=\"{{ $json.image_url }}\" \n         width=\"100%\" \n         style=\"border-radius: 10px; border: 1px solid #e0e0e0; display: block;\"/>\n\n    <!-- FOOTER -->\n    <div style=\"margin-top: 24px; padding-top: 16px; border-top: 1px solid #eee; text-align: center;\">\n      <p style=\"color: #999; font-size: 12px; margin: 0;\">Publicado automáticamente por</p>\n      <p style=\"color: #0d0d0d; font-size: 14px; font-weight: bold; margin: 4px 0 0;\">Genius Astra Automation Engine 🤖</p>\n      <a href=\"https://geniusastra.com\" style=\"color: #4a6cf7; font-size: 12px;\">geniusastra.com</a>\n    </div>\n\n  </div>\n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        12352,
        4112
      ],
      "id": "0c282262-432c-4c91-a57e-28927ab4412f",
      "name": "📧 Gmail — Confim Post",
      "webhookId": "1fdd6583-0976-41e4-b94f-49e0864e9d9c",
      "credentials": {
        "gmailOAuth2": {
          "id": "rGsdLu9a3bbdpBQ9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://getlate.dev/api/v1/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk_d1f53761563f3327c0981b19ea499e6426c4ada2865f28f41f4321751654fef1"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ $('Pick By Date').item.json.Description }}{{ $('Pick By Date').item.json.Hashtags }}\",\n  \"mediaItems\": [\n    { \"url\": \"{{ $json.image_url }}\", \"type\": \"{{ $('Detect Format').item.json.getlate_media_type }}\" }\n  ],\n  \"platforms\": [\n    {\n      \"platform\": \"instagram\",\n      \"accountId\": \"{{ $('ID Get Late Accounts').item.json.instagram }}\",\n      \"platformSpecificData\": {\n        \"contentType\": \"story\"\n      }\n    }\n  ],\n  \"publishNow\": true\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        11888,
        4688
      ],
      "id": "3eb34d5e-4608-4164-a269-43983142ac91",
      "name": "📸 Carousel to Instagram (Getlate)"
    },
    {
      "parameters": {
        "sendTo": "=otunservices@gmail.com, phoenixtec0@gmail.com",
        "subject": "=✅ CAROUSEL PUBLICADO — Genius Astra |  {{ $json.design_ID }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 24px; background-color: #f9f9f9; border-radius: 12px;\">\n  \n  <!-- HEADER -->\n  <div style=\"background-color: #0d0d0d; padding: 20px; border-radius: 10px 10px 0 0; text-align: center;\">\n    <h1 style=\"color: #ffffff; margin: 0; font-size: 20px;\">🤖 Genius Astra Automation Engine</h1>\n    <p style=\"color: #aaaaaa; margin: 6px 0 0; font-size: 13px;\">Sistema de Publicación Instagram</p>\n  </div>\n\n  <!-- STATUS BADGE -->\n  <div style=\"background-color: #28a745; padding: 14px 20px; text-align: center;\">\n    <h2 style=\"color: #ffffff; margin: 0; font-size: 18px;\">✅ Publicación Exitosa</h2>\n  </div>\n\n  <!-- BODY -->\n  <div style=\"background-color: #ffffff; padding: 24px; border-radius: 0 0 10px 10px;\">\n    \n    <!-- META INFO -->\n    <table style=\"width: 100%; border-collapse: collapse; margin-bottom: 20px;\">\n      <tr>\n        <td style=\"padding: 8px 0; color: #666; font-size: 13px; width: 40%;\">📌 Template N°</td>\n        <td style=\"padding: 8px 0; font-weight: bold; font-size: 13px;\">{{ $json.template_n }}</td>\n      </tr>\n      <tr style=\"background-color: #f5f5f5;\">\n        <td style=\"padding: 8px 6px; color: #666; font-size: 13px;\">🆔 Design ID</td>\n        <td style=\"padding: 8px 6px; font-weight: bold; font-size: 13px; word-break: break-all;\">{{ $json.design_ID }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 8px 0; color: #666; font-size: 13px;\">📐 Formato</td>\n        <td style=\"padding: 8px 0; font-weight: bold; font-size: 13px; text-transform: capitalize;\">{{ $json.format }}</td>\n      </tr>\n      <tr style=\"background-color: #f5f5f5;\">\n        <td style=\"padding: 8px 6px; color: #666; font-size: 13px;\">📅 Día</td>\n        <td style=\"padding: 8px 6px; font-weight: bold; font-size: 13px;\">{{ $now.toFormat('EEEE dd MMMM yyyy') }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 8px 0; color: #666; font-size: 13px;\">🕐 Hora</td>\n        <td style=\"padding: 8px 0; font-weight: bold; font-size: 13px;\">{{ $now.toFormat('hh:mm a') }} EST</td>\n      </tr>\n    </table>\n\n    <!-- CAPTION PREVIEW -->\n    <div style=\"background-color: #f0f4ff; border-left: 4px solid #4a6cf7; padding: 12px 16px; border-radius: 6px; margin-bottom: 20px;\">\n      <p style=\"margin: 0 0 6px; color: #4a6cf7; font-size: 12px; font-weight: bold;\">📝 CAPTION PUBLICADO</p>\n      <p style=\"margin: 0; color: #333; font-size: 13px; line-height: 1.6;\">{{ $json.description }}</p>\n    </div>\n\n    <!-- IMAGE PREVIEW -->\n    <p style=\"color: #666; font-size: 12px; margin: 0 0 8px; font-weight: bold;\">🖼️ IMAGEN EXPORTADA</p>\n    <img src=\"{{ $json.image_url }}\" \n         width=\"100%\" \n         style=\"border-radius: 10px; border: 1px solid #e0e0e0; display: block;\"/>\n\n    <!-- FOOTER -->\n    <div style=\"margin-top: 24px; padding-top: 16px; border-top: 1px solid #eee; text-align: center;\">\n      <p style=\"color: #999; font-size: 12px; margin: 0;\">Publicado automáticamente por</p>\n      <p style=\"color: #0d0d0d; font-size: 14px; font-weight: bold; margin: 4px 0 0;\">Genius Astra Automation Engine 🤖</p>\n      <a href=\"https://geniusastra.com\" style=\"color: #4a6cf7; font-size: 12px;\">geniusastra.com</a>\n    </div>\n\n  </div>\n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        12368,
        4688
      ],
      "id": "05d9b9bc-6802-4e14-a8ff-180b23e12f81",
      "name": "📧 Gmail — Confirm Carousel",
      "webhookId": "1fdd6583-0976-41e4-b94f-49e0864e9d9c",
      "credentials": {
        "gmailOAuth2": {
          "id": "rGsdLu9a3bbdpBQ9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "=POST",
        "url": "https://getlate.dev/api/v1/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk_d1f53761563f3327c0981b19ea499e6426c4ada2865f28f41f4321751654fef1"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ $('Pick By Date').item.json.Description }}{{ $('Pick By Date').item.json.Hashtags }}\",\n  \"mediaItems\": [\n    { \"url\": \"{{ $json.image_url }}\", \"type\": \"image\" }\n  ],\n  \"platforms\": [\n    { \"platform\": \"facebook\", \"accountId\": \"{{ $('ID Get Late Accounts').item.json.facebook }}\" }\n  ],\n  \"tiktokSettings\": {\n    \"privacy_level\": \"PUBLIC_TO_EVERYONE\",\n    \"allow_comment\": true,\n    \"allow_duet\": true,\n    \"allow_stitch\": true,\n    \"content_preview_confirmed\": true,\n    \"express_consent_given\": true,\n    \"video_made_with_ai\": true\n  },\n  \"publishNow\": true\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        11888,
        4016
      ],
      "id": "487f9bf5-6412-44a8-9f34-e2bce7932a80",
      "name": "📘 Post to Facebook (Getlate)1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.format }}",
                    "rightValue": "=post",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "7df0ec79-0c28-4adf-9b36-572e85d5d608"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "297ea99f-71f6-44f9-a93a-9ad3e3cc24f2",
                    "leftValue": "={{ $json.format }}",
                    "rightValue": "=stories",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2cfa4ee6-9e47-42b0-85b2-efdbc320d03d",
                    "leftValue": "={{ $json.format }}",
                    "rightValue": "=carousel",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        11568,
        4240
      ],
      "id": "747e58f9-87ee-4ee8-827d-9b5b4f6c7174",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst cleanText = (text) => text?.replace(/\\\\\\\\n/g, ' ').replace(/\\\\n/g, ' ').trim() || '';\nconst cleanUrl = (url) => url?.replace(/\\\\\\\\n/g, '').replace(/\\\\n/g, '').trim() || '';\n\nreturn [{\n  json: {\n    Design_ID:   item.Design_ID   || '',\n    Description: cleanText(item.Description),\n    Hashtags:    item.Hashtags    || '',\n    image_url:   cleanUrl(item.image_url),\n    Image_url_2: cleanUrl(item.image_url_2),\n    Image_url_3: cleanUrl(item.image_url_3),\n    image_url_4: cleanUrl(item.image_url_4),\n    format:      item.Format      || '',\n    Status:      item.Status      || ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11360,
        4256
      ],
      "id": "fc38489c-d4ac-46d7-a403-4bb11bf4e598",
      "name": "Clean Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba32f41b-ea6a-4c9d-8b75-134865dc810b",
              "name": "template_n",
              "value": "={{ $('Pick By Date').item.json.template_n }}",
              "type": "string"
            },
            {
              "id": "7551dc7b-e32b-4c8b-a1e7-ee007e97b57b",
              "name": "design_ID",
              "value": "={{ $('Pick By Date').item.json.Design_ID }}",
              "type": "string"
            },
            {
              "id": "8f919705-69b1-487d-84ff-edb03899490d",
              "name": "=description",
              "value": "={{ $('Pick By Date').item.json.Description }}",
              "type": "string"
            },
            {
              "id": "cd030703-5a94-45f6-b27e-8b9126e1ec6c",
              "name": "format",
              "value": "={{ $('Pick By Date').item.json.Format }}",
              "type": "string"
            },
            {
              "id": "c3403508-d515-4d5b-a145-35e072a9b688",
              "name": "image_url",
              "value": "={{ $('Clean Data').item.json.image_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        12160,
        4496
      ],
      "id": "0c1bb806-bb6c-48b3-ac2e-0fd2d727c506",
      "name": "Set Gmail Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba32f41b-ea6a-4c9d-8b75-134865dc810b",
              "name": "template_n",
              "value": "={{ $('Pick By Date').item.json.template_n }}",
              "type": "string"
            },
            {
              "id": "7551dc7b-e32b-4c8b-a1e7-ee007e97b57b",
              "name": "design_ID",
              "value": "={{ $('Pick By Date').item.json.Design_ID }}",
              "type": "string"
            },
            {
              "id": "8f919705-69b1-487d-84ff-edb03899490d",
              "name": "=description",
              "value": "={{ $('Pick By Date').item.json.Description }}",
              "type": "string"
            },
            {
              "id": "cd030703-5a94-45f6-b27e-8b9126e1ec6c",
              "name": "format",
              "value": "={{ $('Pick By Date').item.json.Format }}",
              "type": "string"
            },
            {
              "id": "c3403508-d515-4d5b-a145-35e072a9b688",
              "name": "image_url",
              "value": "={{ $('Clean Data').item.json.image_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        12176,
        4112
      ],
      "id": "9d00c97c-17cf-4d91-ab64-3795ea08ab3a",
      "name": "Set Gmail Data Post"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba32f41b-ea6a-4c9d-8b75-134865dc810b",
              "name": "template_n",
              "value": "={{ $('Pick By Date').item.json.template_n }}",
              "type": "string"
            },
            {
              "id": "7551dc7b-e32b-4c8b-a1e7-ee007e97b57b",
              "name": "design_ID",
              "value": "={{ $('Pick By Date').item.json.Design_ID }}",
              "type": "string"
            },
            {
              "id": "8f919705-69b1-487d-84ff-edb03899490d",
              "name": "=description",
              "value": "={{ $('Pick By Date').item.json.Description }}",
              "type": "string"
            },
            {
              "id": "cd030703-5a94-45f6-b27e-8b9126e1ec6c",
              "name": "format",
              "value": "={{ $('Pick By Date').item.json.Format }}",
              "type": "string"
            },
            {
              "id": "c3403508-d515-4d5b-a145-35e072a9b688",
              "name": "image_url",
              "value": "={{ $('Clean Data').item.json.image_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        12160,
        4688
      ],
      "id": "8473198f-3362-4f04-a2b6-74727409f128",
      "name": "Set Gmail Data Carousel"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 12-15  * * *"
            }
          ]
        }
      },
      "name": "⏰ Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        7232,
        4160
      ],
      "id": "c044278c-d138-4a12-ae6b-e895c3f23f87"
    },
    {
      "parameters": {
        "url": "=https://api.canva.com/rest/v1/designs/{{ $json.Design_ID }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        8112,
        4144
      ],
      "id": "12cbf24e-9c9e-4fc3-ba14-8a1c56e38101",
      "name": "Get Canva Design Info",
      "credentials": {
        "oAuth2Api": {
          "id": "b3peiFzYIOLnL9te",
          "name": "Genius Auth"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17_rxFnm7wLOgHGqvMmYaQm2HAqwFUiDAUji8q5cg3Bk",
          "mode": "list",
          "cachedResultName": "Cronograma de Publicaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_rxFnm7wLOgHGqvMmYaQm2HAqwFUiDAUji8q5cg3Bk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_rxFnm7wLOgHGqvMmYaQm2HAqwFUiDAUji8q5cg3Bk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7424,
        4160
      ],
      "id": "2d48e727-9290-4d3b-aa30-91b28aa43abb",
      "name": "Extract Design_ID",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZVkYY5blo2ajMfxn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const timeZone = 'America/New_York';\nconst today = new Date().toLocaleDateString('en-US', { \n  weekday: 'long', \n  timeZone \n});\n\nconst rows = $input.all();\n\nconst todayRows = rows.filter(item => {\n  const r = item.json;\n  const dayMatch = r['Day-week']?.trim().toLowerCase() === today.toLowerCase();\n  const status = (r.Status || '').trim().toLowerCase();\n  const isPending = status === 'pending' || status === '';\n  return dayMatch && isPending;\n});\n\nif (todayRows.length === 0) {\n  return []; \n}\n\nreturn todayRows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7648,
        4160
      ],
      "id": "cade8315-a3d8-4590-a7e1-71575f6f2533",
      "name": "Pick By Date"
    },
    {
      "parameters": {
        "content": "## 🟡 PHASE 4 — APPROVAL VIAGMAILL\nSends preview image + caption to owner via\nWhatsApp (ManyChat number). Waits for webhook\nreply: APPROVE or REJECT.",
        "height": 130,
        "width": 648,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        11456,
        3776
      ],
      "id": "843423da-cf95-490c-812c-f5c713dbcc11",
      "name": "Note Phase 4"
    },
    {
      "parameters": {
        "url": "=https://api.canva.com/rest/v1/exports/{{ $('📤 Export POST').item.json.job.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "oAuth2Api",
        "options": {}
      },
      "name": "🔗 Get Export URL POST",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        10320,
        4064
      ],
      "id": "ab5934de-cb96-4f22-9dc2-2526a190fa74",
      "credentials": {
        "oAuth2Api": {
          "id": "b3peiFzYIOLnL9te",
          "name": "Genius Auth"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "otunservices@gmail.com, Phoenixtec0@gmail.com",
        "subject": "=📭 Sin publicaciones hoy — {{ $now.toFormat('EEEE dd/MM/yyyy') }}",
        "message": "=Hola equipo Genius Astra 👋  No hay más publicaciones programadas para hoy ({{ $json.fecha }}).  ✅ Las publicaciones del día ya fueron procesadas o no había contenido asignado para este día.  📌 Recuerda revisar el Google Sheets para asignar nuevos diseños a los próximos días.  — Sistema de automatización Genius Astra 🤖",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        8096,
        4352
      ],
      "id": "8d531376-54cb-4286-b6b1-af9fd0643345",
      "name": "Send a message",
      "webhookId": "983fef64-80e5-42bb-ac63-748fc230c081",
      "credentials": {
        "gmailOAuth2": {
          "id": "rGsdLu9a3bbdpBQ9",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5e6dba79-d566-40b5-8161-00562e4b2b7e",
              "leftValue": "={{ $json.Design_ID }}",
              "rightValue": "=false",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7856,
        4160
      ],
      "id": "fc30d8b9-269d-465d-a6c7-0b196631c25f",
      "name": "If"
    },
    {
      "parameters": {
        "url": "=https://api.canva.com/rest/v1/designs/{{ $json.design.id }}/pages",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        8368,
        4160
      ],
      "id": "3e243955-f331-4409-b5ee-874c3b873401",
      "name": "Get Canva Pages Info",
      "credentials": {
        "oAuth2Api": {
          "id": "b3peiFzYIOLnL9te",
          "name": "Genius Auth"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        6896,
        4608
      ],
      "id": "51195b43-2d6d-4160-8e21-3178177eccd1",
      "name": "OpenAI Embeddings1",
      "credentials": {
        "openAiApi": {
          "id": "6oB1WcrnL1nJ1HjL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.canva.com/rest/v1/exports",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"design_id\": \"{{ $('Pick By Date').item.json.Design_ID }}\",\n  \"format\": {{ \n    $('Detect Format').item.json.getlate_media_type === 'video' \n    ? '{ \"type\": \"mp4\", \"quality\": \"vertical_1080p\" }' \n    : '{ \"type\": \"png\" }' \n  }}\n}\n",
        "options": {}
      },
      "name": "📤 Export HISTORIA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        9824,
        4320
      ],
      "id": "f8378850-2091-486a-9b53-8f54320fcc2c",
      "credentials": {
        "oAuth2Api": {
          "id": "b3peiFzYIOLnL9te",
          "name": "Genius Auth"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "name": "⏳ Wait HISTORIA",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        10064,
        4320
      ],
      "webhookId": "dec29e0a-fcca-45a0-a2ae-840295bb18cd",
      "id": "c2e25e60-18e5-46bd-8c44-48b987d5e1b3"
    },
    {
      "parameters": {
        "url": "=https://api.canva.com/rest/v1/exports/{{ $('📤 Export HISTORIA').item.json.job.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "oAuth2Api",
        "options": {}
      },
      "name": "🔗 Get Export URL HISTORIA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        10320,
        4320
      ],
      "id": "b5b48248-b6b4-4963-a770-8831895ed342",
      "credentials": {
        "oAuth2Api": {
          "id": "b3peiFzYIOLnL9te",
          "name": "Genius Auth"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "name": "⏳ Wait Carousel",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        10080,
        4592
      ],
      "webhookId": "9b553797-4c1a-4ac9-ba93-6193ea0b65d8",
      "id": "1be4fcf7-a968-4218-8e5f-0c42e7100b4e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.canva.com/rest/v1/exports",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"design_id\": \"{{ $('Pick By Date').item.json.Design_ID }}\",\n  \"format\": {{ \n    $('Detect Format').item.json.getlate_media_type === 'video' \n    ? '{ \"type\": \"mp4\", \"quality\": \"horizontal_1080p\" }' \n    : '{ \"type\": \"png\" }' \n  }}\n}\n",
        "options": {}
      },
      "name": "📤 Export Carousel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        9808,
        4592
      ],
      "id": "892d1617-c36f-42ea-b36d-607fe53a935c",
      "credentials": {
        "oAuth2Api": {
          "id": "b3peiFzYIOLnL9te",
          "name": "Genius Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.canva.com/rest/v1/exports",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"design_id\": \"{{ $('Pick By Date').item.json.Design_ID }}\",\n  \"format\": {{ \n    $('Detect Format').item.json.getlate_media_type === 'video' \n    ? '{ \"type\": \"mp4\", \"quality\": \"horizontal_1080p\" }' \n    : '{ \"type\": \"png\" }' \n  }}\n}\n",
        "options": {}
      },
      "name": "📤 Export POST",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        9824,
        4064
      ],
      "id": "ba3ec8ce-248f-4562-9b3a-bf762637efd9",
      "credentials": {
        "oAuth2Api": {
          "id": "b3peiFzYIOLnL9te",
          "name": "Genius Auth"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "name": "⏳ Wait POST",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        10064,
        4064
      ],
      "webhookId": "3c13c9d1-0313-41c8-9ea1-a22baaea9864",
      "id": "f7df84e4-5827-467c-97f3-e996b183e216"
    },
    {
      "parameters": {
        "url": "=https://api.canva.com/rest/v1/exports/{{ $('📤 Export Carousel').item.json.job.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "oAuth2Api",
        "options": {}
      },
      "name": "🔗 Get Export URL Carousel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        10336,
        4592
      ],
      "id": "13550640-8d5a-4b05-ab12-2b1f33403b9a",
      "credentials": {
        "oAuth2Api": {
          "id": "b3peiFzYIOLnL9te",
          "name": "Genius Auth"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25ca78a3-4f38-48dd-b689-58dd2f1af9b2",
              "name": "design_id",
              "value": "={{ $('Pick By Date').item.json.design_id }}",
              "type": "string"
            },
            {
              "id": "06dcdc85-8507-4ffc-8e2f-1a2ec1a81041",
              "name": "format",
              "value": "={{ $('Pick By Date').item.json.format }}",
              "type": "string"
            },
            {
              "id": "a688e124-8191-4fb9-8419-44a7e8c403a4",
              "name": "=image_url",
              "value": "={{ $('🔗 Get Export URL Carousel').item.json.job.urls[0] }}\n",
              "type": "string"
            },
            {
              "id": "548a06e9-e54a-47dc-8197-a5b2a2f903bf",
              "name": "hashtags",
              "value": "={{ $('Pick By Date').item.json.hashtags }}",
              "type": "string"
            },
            {
              "id": "7eb21260-0b4d-4a9e-a9d4-76771f7977cb",
              "name": "description",
              "value": "={{ $('Pick By Date').item.json.description}}",
              "type": "string"
            },
            {
              "id": "4711d138-120e-48ec-8dc7-fa5f6d9ab48b",
              "name": "image_url",
              "value": "={{ $json.job.urls[0] }}",
              "type": "string"
            },
            {
              "id": "5f3f16b9-a759-4ffb-9df1-cdbd88dfa191",
              "name": "image_url_2",
              "value": "={{ $json.job.urls[1] }}",
              "type": "string"
            },
            {
              "id": "7e7feb1d-cd6f-4d27-a314-7dd95514a2b3",
              "name": "image_url_3",
              "value": "={{ $json.job.urls[2] }}",
              "type": "string"
            },
            {
              "id": "bd6d8b16-6e0b-4895-ab22-74c3e39e54cd",
              "name": "image_url_4",
              "value": "={{ $json.job.urls[3] }}",
              "type": "string"
            },
            {
              "id": "e0bc293d-60bd-4a6f-99c5-921f83026876",
              "name": "image_url_5",
              "value": "={{ $json.job.urls[4] }}",
              "type": "string"
            },
            {
              "id": "5a0f9198-9b0e-4d1a-84a9-e85002122595",
              "name": "image_url_6",
              "value": "={{ $json.job.urls[5] }}",
              "type": "string"
            },
            {
              "id": "40dcb5cd-0ed4-4ea4-a037-dfd5d995f0f4",
              "name": "image_url_7",
              "value": "={{ $json.job.urls[6] }}",
              "type": "string"
            },
            {
              "id": "372530b4-d45a-4ed9-954b-b6a1e3253c3f",
              "name": "image_url_8",
              "value": "={{ $json.job.urls[7] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10624,
        4592
      ],
      "id": "692c2840-3306-46dd-a492-96dfb73400bc",
      "name": "Set Post Data Carousel"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25ca78a3-4f38-48dd-b689-58dd2f1af9b2",
              "name": "design_id",
              "value": "={{ $('Pick By Date').item.json.Design_ID }}",
              "type": "string"
            },
            {
              "id": "06dcdc85-8507-4ffc-8e2f-1a2ec1a81041",
              "name": "=Format",
              "value": "={{ $('Detect Format').item.json.format }}",
              "type": "string"
            },
            {
              "id": "a688e124-8191-4fb9-8419-44a7e8c403a4",
              "name": "=image_url",
              "value": "={{ $('🔗 Get Export URL HISTORIA').item.json.job.urls[0] }}\n",
              "type": "string"
            },
            {
              "id": "8cb0ecdd-ba88-474e-a96d-f3fe5a771f77",
              "name": "description",
              "value": "={{ $('Extract Design_ID').item.json.Description }}",
              "type": "string"
            },
            {
              "id": "b725c343-c971-4b81-90f5-a13e2bdecb33",
              "name": "Hashtags",
              "value": "={{ $('Extract Design_ID').item.json.Hashtags }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10624,
        4320
      ],
      "id": "7273471e-7266-4735-83d0-fd44c35c556b",
      "name": "Set Post Data HISTORIA"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b79af122-fba3-48cf-9020-58c994f9df0e",
              "name": "design_id",
              "value": "={{ $('Pick By Date').item.json.Design_ID }}",
              "type": "string"
            },
            {
              "id": "50953655-0281-4452-bb33-73ca639a6067",
              "name": "image_url",
              "value": "={{ $('🔗 Get Export URL POST').item.json.job.urls[0] }}\n",
              "type": "string"
            },
            {
              "id": "073c0c69-65e1-4f9a-a47a-6642a61e30d4",
              "name": "description",
              "value": "={{ $('Pick By Date').item.json.Description }}",
              "type": "string"
            },
            {
              "id": "ada78265-0cee-4c91-b93d-d96b25132bf7",
              "name": "hashtags",
              "value": "={{ $('Pick By Date').item.json.Hashtags }}",
              "type": "string"
            },
            {
              "id": "10b6ef0a-b917-424b-8c2d-0bd62ad47c6d",
              "name": "format",
              "value": "={{ $('Pick By Date').item.json.Format }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10608,
        4064
      ],
      "id": "add168a2-bdac-4668-8071-39590cc85151",
      "name": "Set Post Data"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "17_rxFnm7wLOgHGqvMmYaQm2HAqwFUiDAUji8q5cg3Bk",
          "mode": "list",
          "cachedResultName": "Cronograma de Publicaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_rxFnm7wLOgHGqvMmYaQm2HAqwFUiDAUji8q5cg3Bk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_rxFnm7wLOgHGqvMmYaQm2HAqwFUiDAUji8q5cg3Bk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "pending",
            "Design_ID": "={{ $json.design_id }}",
            "Format": "={{ $json.format }}",
            "image_url": "={{ $json.image_url }}"
          },
          "matchingColumns": [
            "Design_ID"
          ],
          "schema": [
            {
              "id": "template_n",
              "displayName": "template_n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Design_ID",
              "displayName": "Design_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Format",
              "displayName": "Format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Day-week",
              "displayName": "Day-week",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hashtags",
              "displayName": "Hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_url_2",
              "displayName": "image_url_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "image_url_3",
              "displayName": "image_url_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "image_url_4",
              "displayName": "image_url_4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        10816,
        4064
      ],
      "id": "32bb05cd-2b6f-42bd-bb49-0ed35918ed41",
      "name": "Post image_url",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZVkYY5blo2ajMfxn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "17_rxFnm7wLOgHGqvMmYaQm2HAqwFUiDAUji8q5cg3Bk",
          "mode": "list",
          "cachedResultName": "Cronograma de Publicaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_rxFnm7wLOgHGqvMmYaQm2HAqwFUiDAUji8q5cg3Bk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_rxFnm7wLOgHGqvMmYaQm2HAqwFUiDAUji8q5cg3Bk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Format": "={{ $json.Format }}",
            "Status": "pending",
            "Design_ID": "={{ $json.design_id }}",
            "image_url": "={{ $json.image_url }}"
          },
          "matchingColumns": [
            "Design_ID"
          ],
          "schema": [
            {
              "id": "template_n",
              "displayName": "template_n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Design_ID",
              "displayName": "Design_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Format",
              "displayName": "Format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Day-week",
              "displayName": "Day-week",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hashtags",
              "displayName": "Hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_url_2",
              "displayName": "image_url_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "image_url_3",
              "displayName": "image_url_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "image_url_4",
              "displayName": "image_url_4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        10832,
        4320
      ],
      "id": "c1ea2e8b-2c9d-454f-9113-7f3ff342e9db",
      "name": "image url stories",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZVkYY5blo2ajMfxn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "17_rxFnm7wLOgHGqvMmYaQm2HAqwFUiDAUji8q5cg3Bk",
          "mode": "list",
          "cachedResultName": "Cronograma de Publicaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_rxFnm7wLOgHGqvMmYaQm2HAqwFUiDAUji8q5cg3Bk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17_rxFnm7wLOgHGqvMmYaQm2HAqwFUiDAUji8q5cg3Bk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "pending",
            "Design_ID": "={{ $json.design_id }}",
            "row_number": 0,
            "Format": "={{ $json.Format }}",
            "image_url": "={{ $json.image_url }}"
          },
          "matchingColumns": [
            "Design_ID"
          ],
          "schema": [
            {
              "id": "template_n",
              "displayName": "template_n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Design_ID",
              "displayName": "Design_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Format",
              "displayName": "Format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Day-week",
              "displayName": "Day-week",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hashtags",
              "displayName": "Hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_url_2",
              "displayName": "image_url_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_url_3",
              "displayName": "image_url_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_url_4",
              "displayName": "image_url_4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        10848,
        4592
      ],
      "id": "897c7282-2f2e-4343-9da0-b2a3c8f6157a",
      "name": "image_url carousel",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZVkYY5blo2ajMfxn",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Switch1": {
      "main": [
        [
          {
            "node": "📤 Export POST",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📤 Export HISTORIA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📤 Export Carousel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID Get Late Accounts": {
      "main": [
        [
          {
            "node": "Clean Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📸 Stories to Instagram (Getlate)1": {
      "main": [
        [
          {
            "node": "Set Gmail Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Format": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📸 Post to Instagram (Getlate)": {
      "main": [
        [
          {
            "node": "Set Gmail Data Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📸 Carousel to Instagram (Getlate)": {
      "main": [
        [
          {
            "node": "Set Gmail Data Carousel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Gmail — Confim Post": {
      "main": [
        [
          {
            "node": "✅Mark as Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Gmail — Confirm Carousel": {
      "main": [
        [
          {
            "node": "✅Mark as Published2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Gmail — Confirm Stories": {
      "main": [
        [
          {
            "node": "✅Mark as Published1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📘 Post to Facebook (Getlate)1": {
      "main": [
        [
          {
            "node": "Set Gmail Data Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "📸 Post to Instagram (Getlate)",
            "type": "main",
            "index": 0
          },
          {
            "node": "📘 Post to Facebook (Getlate)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📸 Stories to Instagram (Getlate)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📸 Carousel to Instagram (Getlate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Gmail Data": {
      "main": [
        [
          {
            "node": "📧 Gmail — Confirm Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Gmail Data Post": {
      "main": [
        [
          {
            "node": "📧 Gmail — Confim Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Gmail Data Carousel": {
      "main": [
        [
          {
            "node": "📧 Gmail — Confirm Carousel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Schedule Trigger": {
      "main": [
        [
          {
            "node": "Extract Design_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Canva Design Info": {
      "main": [
        [
          {
            "node": "Get Canva Pages Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Design_ID": {
      "main": [
        [
          {
            "node": "Pick By Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick By Date": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Get Export URL POST": {
      "main": [
        [
          {
            "node": "Set Post Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Canva Design Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Canva Pages Info": {
      "main": [
        [
          {
            "node": "Detect Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Export HISTORIA": {
      "main": [
        [
          {
            "node": "⏳ Wait HISTORIA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ Wait HISTORIA": {
      "main": [
        [
          {
            "node": "🔗 Get Export URL HISTORIA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Get Export URL HISTORIA": {
      "main": [
        [
          {
            "node": "Set Post Data HISTORIA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ Wait Carousel": {
      "main": [
        [
          {
            "node": "🔗 Get Export URL Carousel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Export Carousel": {
      "main": [
        [
          {
            "node": "⏳ Wait Carousel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Export POST": {
      "main": [
        [
          {
            "node": "⏳ Wait POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ Wait POST": {
      "main": [
        [
          {
            "node": "🔗 Get Export URL POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Get Export URL Carousel": {
      "main": [
        [
          {
            "node": "Set Post Data Carousel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Post Data Carousel": {
      "main": [
        [
          {
            "node": "image_url carousel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Post Data HISTORIA": {
      "main": [
        [
          {
            "node": "image url stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Post Data": {
      "main": [
        [
          {
            "node": "Post image_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post image_url": {
      "main": [
        [
          {
            "node": "ID Get Late Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image url stories": {
      "main": [
        [
          {
            "node": "ID Get Late Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image_url carousel": {
      "main": [
        [
          {
            "node": "ID Get Late Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "49d28582-7357-46ee-b9e6-11f4a6a2083c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "747783bda3f10a4d4023457d44f25ea0576e9cc9460c72700a587b2653a24d87"
  },
  "id": "tkfCIYGtz6MSxIqj",
  "tags": [
    {
      "updatedAt": "2026-01-26T01:49:01.316Z",
      "createdAt": "2026-01-26T01:49:01.316Z",
      "id": "IQSHOhzggibPnE2R",
      "name": "ai-content-generation"
    }
  ]
}